<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid">
         <div class="row flex">
        <div class="col-sm-2">
          <div class="card">
            <div class="card-header">
              <h6>INJECTION/MC01</h6>
            </div>
            <div class="card-body">
            <div style="width: 100%; height: 100%; float: left; position: relative;">
              <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -15px; line-height:19px; text-align: center; z-index: 999999999999999">
                OEE <br/>
               <span id="oee_INJECTION/MC01">
                50%
               </span>
              </div>
              <canvas id="INJECTION/MC01" />
            </div>
            </div>
            <div class="card-footer">
              <h4>Footer2<h4>
            </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card">
            <div class="card-header">
                <h6>INJECTION/MC02</h6>
            </div>
            <div class="card-body">
            <div style="width: 100%; height: 100%; float: left; position: relative;">
              <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -15px; line-height:19px; text-align: center; z-index: 999999999999999">
                OEE <br/>
               <span id="oee_INJECTION/MC02">
                50%
               </span>
              </div>
              <canvas id="INJECTION/MC02" />
            </div>
            </div>
            <div class="card-footer">
              <h4>Footer<h4>
            </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card">
            <div class="card-header">
                <h6>INJECTION/MC03</h6>
            </div>
            <div class="card-body">
            <div style="width: 100%; height: 100%; float: left; position: relative;">
              <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -15px; line-height:19px; text-align: center; z-index: 999999999999999">
                OEE <br/>
               <span id="oee_INJECTION/MC03">
                50%
               </span>
              </div>
              <canvas id="INJECTION/MC03" />
            </div>
            </div>
            <div class="card-footer">
              <h4>Footer<h4>
            </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card">
            <div class="card-header">
                <h6>INJECTION/MC04</h6>
            </div>
            <div class="card-body">
            <div style="width: 100%; height: 100%; float: left; position: relative;">
              <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -15px; line-height:19px; text-align: center; z-index: 999999999999999">
                OEE <br/>
               <span id="oee_INJECTION/MC04">
                50%
               </span>
              </div>
              <canvas id="INJECTION/MC04" />
            </div>
            </div>
            <div class="card-footer">
              <h4>Footer<h4>
            </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card">
            <div class="card-header">
                <h6>INJECTION/MC05</h6>
            </div>
            <div class="card-body">
            <div style="width: 100%; height: 100%; float: left; position: relative;">
              <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -15px; line-height:19px; text-align: center; z-index: 999999999999999">
                OEE <br/>
               <span id="oee_INJECTION/MC05">
                50%
               </span>
              </div>
              <canvas id="INJECTION/MC05" />
            </div>
            </div>
            <div class="card-footer">
              <h4>Footer<h4>
            </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card">
            <div class="card-header">
                <h6>INJECTION/MC06</h6>
            </div>
            <div class="card-body">
            <div style="width: 100%; height: 100%; float: left; position: relative;">
              <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -15px; line-height:19px; text-align: center; z-index: 999999999999999">
                OEE <br/>
               <span id="oee_INJECTION/MC06">
                50%
               </span>
              </div>
              <canvas id="INJECTION/MC06" />
            </div>
            </div>
            <div class="card-footer">
              <h4>Footer<h4>
            </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card">
            <div class="card-header">
                <h6>INJECTION/MC07</h6>
            </div>
            <div class="card-body">
            <div style="width: 100%; height: 100%; float: left; position: relative;">
              <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -15px; line-height:19px; text-align: center; z-index: 999999999999999">
                OEE <br/>
               <span id="oee_INJECTION/MC07">
                50%
               </span>
              </div>
              <canvas id="INJECTION/MC07" />
            </div>
            </div>
            <div class="card-footer">
              <h4>Footer<h4>
            </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card">
            <div class="card-header">
                <h6>INJECTION/MC08</h6>
            </div>
            <div class="card-body">
            <div style="width: 100%; height: 100%; float: left; position: relative;">
              <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -15px; line-height:19px; text-align: center; z-index: 999999999999999">
                OEE <br/>
               <span id="oee_INJECTION/MC08">
                50%
               </span>
              </div>
              <canvas id="INJECTION/MC08" />
            </div>
            </div>
            <div class="card-footer">
              <h4>Footer<h4>
            </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card">
            <div class="card-header">
                <h6>INJECTION/MC11</h6>
            </div>
            <div class="card-body">
            <div style="width: 100%; height: 100%; float: left; position: relative;">
              <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -15px; line-height:19px; text-align: center; z-index: 999999999999999">
                OEE <br/>
               <span id="oee_INJECTION/MC11">
                50%
               </span>
              </div>
              <canvas id="INJECTION/MC11" />
            </div>
            </div>
            <div class="card-footer">
              <h4>Footer<h4>
            </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card">
            <div class="card-header">
                <h6>INJECTION/MC12</h6>
            </div>
            <div class="card-body">
            <div style="width: 100%; height: 100%; float: left; position: relative;">
              <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -15px; line-height:19px; text-align: center; z-index: 999999999999999">
                OEE <br/>
               <span id="oee_INJECTION/MC12">
                50%
               </span>
              </div>
              <canvas id="INJECTION/MC12" />
            </div>
            </div>
            <div class="card-footer">
              <h4>Footer<h4>
            </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card">
            <div class="card-header">
                <h6>ASSEMBLY/HPW03</h6>
            </div>
            <div class="card-body">
            <div style="width: 100%; height: 100%; float: left; position: relative;">
              <div style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -15px; line-height:19px; text-align: center; z-index: 999999999999999">
                OEE <br/>
               <span id="oee_ASSEMBLY/HPW03">
                50%
               </span>
              </div>
              <canvas id="ASSEMBLY/HPW03" />
            </div>
            </div>
            <div class="card-footer">
              <h4>Footer<h4>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var mock = [
        {
            lineNumber : "INJECTION/MC01",
            oee:90,
            config : {
                type: 'doughnut',
                data: {
                    datasets: [{data: [90,100-90],
                        backgroundColor: ['rgb(0, 255, 0)','#9e9ba1'],
                        offset: 0
                    }]
                },
                options: {
                    cutout: 40
                }
            }
        },
        {
            lineNumber : "INJECTION/MC02",
            config : {
                type: 'doughnut',
                data: {
                    datasets: [{data: [40,100-40],
                        backgroundColor: ['rgb(0, 255, 0)','#9e9ba1'],
                        offset: 0
                    }]
                },
                options: {
                    cutout: 40
                }
            }
        },
        {
            lineNumber : "INJECTION/MC03",
            config : {
                type: 'doughnut',
                data: {
                    datasets: [{data: [(100-40),40],
                        backgroundColor: ['rgb(0, 255, 0)','#9e9ba1'],
                        offset: 0
                    }]
                },
                options: {
                    cutout: 40
                }
            }
        },
        {
            lineNumber : "INJECTION/MC04",
            config : {
                type: 'doughnut',
                data: {
                    datasets: [{data: [(100-40),40],
                        backgroundColor: ['rgb(0, 255, 0)','#9e9ba1'],
                        offset: 0
                    }]
                },
                options: {
                    cutout: 40
                }
            }
        },
        {
            lineNumber : "INJECTION/MC05",
            config : {
                type: 'doughnut',
                data: {
                    datasets: [{data: [(100-40),40],
                        backgroundColor: ['rgb(0, 255, 0)','#9e9ba1'],
                        offset: 0
                    }]
                },
                options: {
                    cutout: 40
                }
            }
        },
        {
            lineNumber : "INJECTION/MC06",
            config : {
                type: 'doughnut',
                data: {
                    datasets: [{data: [(100-40),40],
                        backgroundColor: ['rgb(0, 255, 0)','#9e9ba1'],
                        offset: 0
                    }]
                },
                options: {
                    cutout: 40
                }
            }
        },
        {
            lineNumber : "INJECTION/MC07",
            config : {
                type: 'doughnut',
                data: {
                    datasets: [{data: [(100-40),40],
                        backgroundColor: ['rgb(0, 255, 0)','#9e9ba1'],
                        offset: 0
                    }]
                },
                options: {
                    cutout: 40
                }
            }
        },
        {
            lineNumber : "INJECTION/MC08",
            config : {
                type: 'doughnut',
                data: {
                    datasets: [{data: [(100-40),40],
                        backgroundColor: ['rgb(0, 255, 0)','#9e9ba1'],
                        offset: 0
                    }]
                },
                options: {
                    cutout: 40
                }
            }
        },
        {
            lineNumber : "INJECTION/MC11",
            config : {
                type: 'doughnut',
                data: {
                    datasets: [{data: [(100-40),40],
                        backgroundColor: ['rgb(0, 255, 0)','#9e9ba1'],
                        offset: 0
                    }]
                },
                options: {
                    cutout: 40
                }
            }
        },
        {
            lineNumber : "INJECTION/MC12",
            config : {
                type: 'doughnut',
                data: {
                    datasets: [{data: [(100-40),40],
                        backgroundColor: ['rgb(0, 255, 0)','#9e9ba1'],
                        offset: 0
                    }]
                },
                options: {
                    cutout: 40
                }
            }
        },
        {
            lineNumber : "ASSEMBLY/HPW03",
            config : {
                type: 'doughnut',
                data: {
                    datasets: [{data: [(100-40),40],
                        backgroundColor: ['rgb(0, 255, 0)','#9e9ba1'],
                        offset: 0
                    }]
                },
                options: {
                    cutout: 40
                }
            }
        }
    ]
</script>

<script>
    for(let m of mock){
        var oee = "oee" + "_" + m.lineNumber
        console.log(m.oee);
        console.log(oee);
        if(m.oee != undefined){
            document.getElementById(oee).innerHTML = m.oee + "%"
        }else{
            document.getElementById(oee).innerHTML = "0%"
        }
        const chart = new Chart(
        document.getElementById(m.lineNumber),
        m.config);
    }
    console.log("Test");
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script>
    // Globally initializes an mqtt variable
    var client = new Paho.MQTT.Client("103.63.25.67", Number(9001), "clientId");
    console.log(client);
// set callback handlers
client.onConnectionLost = function (responseObject) {
    console.log("Connection Lost: "+responseObject.errorMessage);
}

client.onMessageArrived = function (message) {
  console.log("Message Arrived: "+message.payloadString);
}

// Called when the connection is made
function onConnect(){
	console.log("Connected!");
}

// Connect the client, providing an onConnect callback
client.connect({
	onSuccess: onConnect
});
</script>
  </body>
</html>